<div class="row">
  <div class="col-md-12" *ngIf="loading">
    <p class="text-center">
      Loading data please wait...
      <i class="fa fa-spinner fa-spin fa-1x fa-fw"></i>
    </p>
  </div>
  <div class="col-md-7 offset-md-3" *ngIf="!loading">
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Hotel Name</th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let hotel of hotels.data | paginate: config">
          <td>
            <i class="fa fa-building" aria-hidden="true"></i> {{ hotel[8] }}
          </td>
          <td>
            <a class="btn btn-light btn-sm" (click)="viewHotelDetails(hotel)"
              >View Details</a
            >
          </td>
        </tr>
      </tbody>
    </table>

    <div class="row">
      <div class="col-md-12 text-center">
        <pagination-controls
          (pageChange)="pageChanged($event)"
        ></pagination-controls>
      </div>
    </div>
  </div>
</div>
